
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ 
    var grid = Html.DevExpress().GridView(settings => {
        settings.Name = "GridView";
        settings.CallbackRouteValues = new { Controller = "JsonPlaceHolder", Action = "Index" };

        settings.KeyFieldName = "id";

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;

        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = false;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 0;

        settings.Columns.Add("userId");
        settings.Columns.Add("id");
        settings.Columns.Add("title");
        settings.Columns.Add("completed");

        settings.CustomColumnDisplayText = (sender, e) =>
        {
            if (e.Column.FieldName == "completed")
                e.DisplayText = (Convert.ToBoolean(e.Value) == true) ? "Yes" : "No";
        };
    });
}
@grid.Bind(Model).GetHtml()